
$body: #f8f8f8;
$white: #fff;
$black: #1B1C21;
$pseudo:#41F6D7;
$burgercolor: #1B1C21;
$titlegrey: #7E7E82;
$buttongrey: #f0f0f0;
$paginationpink: #FF4081;
$callgrey: #666;


//fonts//
@import "../scss/font";
$bold: "TT Lakes";
$medium: "TT Lakes Medium";
$regular: "TT Lakes Regular";