@import "./normalize.css";
@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #f8f8f8;
}

.header {
  padding: 10px 5px;
  background-color: #fff;
  border-bottom: #d9fff5 1px solid;
}
@media (min-width: 1120px) {
  .header {
    display: none;
  }
}
.header__nav {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
@media (min-width: 767px) {
  .header__nav {
    margin: 18px 24px;
  }
}
.header .nav__button {
  display: flex;
  align-items: center;
  gap: 5px;
}
@media (min-width: 767px) {
  .header .nav__button {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
.header .menu-button {
  background-color: #fff;
  display: inline-block;
}
@media (min-width: 767px) {
  .header .menu-button {
    margin-right: 0;
  }
}
.header .menu-divider {
  display: flex;
  align-items: center;
  width: 2px;
  min-height: 32px;
  background-color: rgb(234, 234, 234);
  margin: 0 5px;
}
@media (min-width: 767px) {
  .header .menu-divider {
    width: 1px;
    min-height: 20px;
  }
}
.header__item:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 8px;
}
@media (min-width: 767px) {
  .header__item:nth-child(3) {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
.header__item:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 767px) {
  .header__item:nth-child(1) {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
}
.header__item:nth-child(2) {
  display: none;
}
@media (min-width: 767px) {
  .header__item:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    margin-left: auto;
  }
}
.header .header__item .nav__button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__divider {
  width: 2px;
  min-height: 32px;
  background-color: rgb(234, 234, 234);
  margin: 0 5px;
}
@media (min-width: 767px) {
  .header__divider {
    display: flex;
    margin: 0 10px;
  }
}
.header .nav__button .nav__button--repair,
.header .nav__button .nav__button--search {
  display: inline-block;
}
.header button {
  background-color: #fff;
  transition: 0.2s ease 0.1s;
  border: none;
}
.header button:hover {
  filter: grayscale(100%) opacity(70%);
  transition-delay: 0s;
}
@media (min-width: 1120px) {
  .header button {
    background-color: #f8f8f8;
  }
}

.main {
  background-color: #f8f8f8;
}
@media (min-width: 1120px) {
  .main {
    margin-left: 300px;
    width: calc(100% - 300px);
  }
}
@media (min-width: 1120px) {
  .main__header {
    display: flex;
    margin: 15px;
  }
}
.main__title {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: -0.6px;
  position: relative;
  padding: 24px 0 0 12px;
  font-family: "TT Lakes Medium";
}
.main__title::before {
  content: "";
  display: inline-block;
  width: 4px;
  min-height: 40px;
  position: absolute;
  left: 0;
  background-color: #41F6D7;
  border-radius: 0 5px 5px 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1120px) {
  .main__title {
    flex-grow: 1;
    padding-top: 0;
  }
}
.main__tabs {
  display: flex;
  overflow: auto;
}
@media (min-width: 767px) {
  .main__tabs {
    margin: 32px 24px;
  }
  .main__tabs::after {
    top: 95px;
    width: 50px;
  }
  .main__tabs::before {
    top: 95px;
    width: 45px;
  }
}
@media (min-width: 1120px) {
  .main__tabs {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
  }
  .main__tabs::after, .main__tabs::before {
    content: "";
    display: none;
  }
}
.main__tab-link {
  font-weight: 500;
  line-height: 36px;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: rgb(126, 126, 130);
  display: inline-block;
  min-height: 40px;
  white-space: nowrap;
  padding: 0 16px;
  border: #f8f8f8 2px solid;
  border-radius: 6px;
  text-decoration: none;
  font-family: "TT Lakes Regular";
}
.main__tab-link:focus, .main__tab-link :hover {
  background-color: #fff;
  border: rgb(184, 255, 236) 2px solid;
  border-radius: 6px;
}
.main__content {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
}
@media (min-width: 767px) {
  .main__content {
    margin: 32px 24px;
    justify-content: space-between;
  }
}
@media (min-width: 1120px) {
  .main__content {
    margin: 7px 25px 0 25px;
  }
}
.main__text {
  font-size: 14px;
  margin: 24px 16px 0 16px;
  line-height: 18px;
  letter-spacing: 0.2px;
  overflow: hidden;
  max-height: 90px;
  font-family: "TT Lakes Medium";
}
@media (min-width: 767px) {
  .main__text {
    margin: 0;
    max-height: 160px;
  }
  .main__text:nth-child(1) {
    margin-bottom: 31px;
  }
}
.main__read-more {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.2px;
  background-color: #f8f8f8;
  background: #f8f8f8 url("/public/favicon/icon.svg") no-repeat 0 50%;
  margin: 16px 0;
  border: none;
}
.main__read-more::before {
  content: "";
  margin-right: 26px;
}
.main__img {
  display: inline-block;
  width: 100%;
}
@media (min-width: 767px) {
  .main__img {
    max-width: 46.875%;
  }
}
@media (min-width: 1120px) {
  .main__img {
    max-width: 50%;
  }
}
.main__repair, .main__checkstatus {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
  margin-top: 10px;
  align-self: flex-start;
}
@media (max-width: 1119px) {
  .main__repair, .main__checkstatus {
    display: none;
  }
}
@media (min-width: 1120px) {
  .main__repair, .main__checkstatus {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
    margin-right: 32px;
    border: none;
  }
}
.main .button-text {
  font-family: "TT Lakes Medium";
}
.main .menu-divider {
  display: none;
}
@media (min-width: 767px) {
  .main .main__content-read {
    max-width: 43.6%;
  }
}
@media (min-width: 1120px) {
  .main .main__content-read {
    max-width: 46%;
  }
}
.main button {
  background-color: #fff;
  transition: 0.2s ease 0.1s;
  border: none;
}
.main button:hover {
  filter: grayscale(100%) opacity(70%);
  transition-delay: 0s;
}
@media (min-width: 1120px) {
  .main button {
    background-color: #f8f8f8;
  }
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.burger {
  width: 270px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  font-family: "TT Lakes Regular";
  min-height: 100vh;
  z-index: 1;
  padding: 15px;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}
@media (min-width: 1120px) {
  .burger {
    transform: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 270px;
  }
}
.burger.burger--open {
  transform: translateX(0);
}
.burger__icon {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  align-items: center;
}
.burger__icon--close {
  padding-right: 8px;
  display: block;
}
@media (min-width: 1120px) {
  .burger__icon--close {
    display: none;
  }
}
.burger__icon--logo {
  flex-grow: 1;
}
.burger__slide {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex-grow: 1;
  gap: 5px;
}
.burger__tab {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 5px;
  color: #1B1C21;
  text-decoration: none;
  padding-top: 20px;
  transition: 0.3s ease-in-out;
  position: relative;
  display: inline-block;
}
.burger__tab::before {
  content: "";
  width: 4px;
  height: 32px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: transparent;
  position: absolute;
  left: -34px;
  top: 50%;
  transform: translateY(-25%);
  transition: background-color 0.3s ease-in-out;
}
.burger__tab:hover {
  transform: translateX(24px);
}
.burger__tab:hover::before {
  background-color: #41F6D7;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.burger__tab:focus {
  outline: none;
  color: rgb(126, 126, 130);
}
.burger__tab:focus::before {
  background-color: #41F6D7;
}
.burger__feedback {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.burger .feedback__icon-call {
  padding-right: 16px;
}
.burger .feedback__icon-chat {
  padding-right: 16px;
}
.burger__mail {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: #1B1C21;
  padding-top: 16px;
}
.burger__num {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: #1B1C21;
  font-weight: bold;
  text-decoration: none;
  padding-top: 12px;
}
.burger__button {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding-top: 40px;
}
.burger .feedback__button-lan {
  padding-right: 7px;
}
.burger button {
  background-color: #f8f8f8;
  transition: 0.2s ease 0.1s;
  outline: none;
  border: none;
}
.burger button:hover {
  filter: grayscale(100%) opacity(70%);
  transition-delay: 0s;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.brand {
  background-color: #f8f8f8;
  padding: 10px;
}
@media (min-width: 1120px) {
  .brand {
    padding-top: 60px;
    margin-left: 300px;
  }
}
.brand__header {
  display: none;
}
@media (min-width: 768px) {
  .brand__header {
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 0;
    border-top: 2px solid #d9fff5;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  }
}
@media (min-width: 1120px) {
  .brand__header {
    padding-left: 32px;
    margin-left: -35px;
  }
}
.brand__title {
  display: none;
}
@media (min-width: 768px) {
  .brand__title {
    display: flex;
    width: 338px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin: 20px;
    font-weight: 300;
    font-family: "TT Lakes Medium";
  }
}
.brand__menu {
  display: grid;
  gap: 24px;
}
@media (max-width: 767px) {
  .brand__menu {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .brand__menu {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1120px) {
  .brand__menu {
    grid-template-columns: repeat(4, 1fr);
  }
}
.brand__block {
  flex-shrink: 0;
  width: 200px;
  position: relative;
}
.brand__tab {
  min-width: 200px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #1B1C21;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 8px;
}
.brand__tab:focus, .brand__tab:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  box-shadow: 0px -5px 10px 0px rgba(185, 184, 184, 0.5);
}
.brand__tab::after {
  content: url("/public/favicon/brands/go.svg");
  margin-left: 10px;
}
.brand__img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.brand .button_more {
  display: none;
}
@media (min-width: 768px) {
  .brand .button_more {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: rgb(27, 28, 33);
    background-color: rgb(248, 248, 248);
    border: none;
    margin-top: 24px;
    margin-left: 24px;
    gap: 8px;
    font-family: "TT Lakes Medium";
    padding-left: 30px;
    cursor: pointer;
    text-decoration: none;
    background: #f8f8f8 url("/public/favicon/brands/expand.svg") no-repeat 0 50%;
  }
  .brand .button_more:hover {
    filter: grayscale(100%) opacity(70%);
    transform: translateX(4px) scale(1.1);
  }
  .brand .button_more.up {
    background: #f8f8f8 url("/public/favicon/brands/expand2.svg") no-repeat 0 50%;
  }
}
@media (min-width: 1120px) {
  .brand .button_more {
    margin-left: 32px;
  }
}
@media (min-width: 768px) {
  .brand .plan {
    display: none;
  }
}
@media (min-width: 768px) {
  .brand .hidden {
    display: none;
  }
}
@media (min-width: 1120px) {
  .brand .hidden {
    display: none;
  }
}
.brand .plan.show, .brand .hidden.show {
  display: flex;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.brands {
  margin-top: 15px;
}
@media (min-width: 768px) {
  .brands {
    display: none;
  }
}
.brands__header {
  display: block;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px;
  border-top: 2px solid #d9fff5;
}
.brands__title {
  display: flex;
  width: 338px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin: 20px;
  font-weight: 300;
  font-family: "TT Lakes Medium";
}
.brands .swiper {
  width: 100%;
  height: auto;
  margin: 10px;
  padding-bottom: 45px;
}
.brands .swiper .swiper-wrapper {
  display: flex;
}
.brands .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 72px;
  flex-shrink: 0;
}
.brands .swiper .slide_tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 224px;
  height: 72px;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  padding: 15px;
}
.brands .swiper .slide_tab:focus, .brands .swiper .slide_tab:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  box-shadow: 0px -5px 10px 0px rgba(185, 184, 184, 0.5);
}
.brands .swiper .slide_tab img {
  max-width: 100%;
  height: auto;
}
.brands .swiper .slide_tab::after {
  content: url("/public/favicon/brands/go.svg");
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
}
.brands .swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 25px;
}
.brands .swiper .swiper-pagination-bullet {
  background-color: #7E7E82;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 1;
  margin: 0 4px;
  transition: background-color 0.3s ease;
}
.brands .swiper .swiper-pagination-bullet-active {
  background-color: #FF4081;
  width: 10px;
  height: 10px;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.technique {
  background-color: #f8f8f8;
  padding: 10px;
}
@media (max-width: 767px) {
  .technique {
    display: none;
  }
}
@media (min-width: 768px) {
  .technique {
    display: block;
  }
}
@media (min-width: 1120px) {
  .technique {
    padding-top: 60px;
    margin-left: 300px;
  }
}
@media (min-width: 768px) {
  .technique__header {
    display: block;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 0;
    border-top: 2px solid #d9fff5;
  }
}
@media (min-width: 1120px) {
  .technique__header {
    padding-left: 32px;
    margin-left: -35px;
  }
}
@media (min-width: 768px) {
  .technique__title {
    display: flex;
    width: 338px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    margin: 20px;
    font-weight: 300;
    font-family: "TT Lakes Medium";
  }
}
.technique__menu {
  display: grid;
  flex-wrap: wrap;
  gap: 24px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .technique__menu {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1120px) {
  .technique__menu {
    grid-template-columns: repeat(4, 1fr);
  }
}
.technique__block {
  width: 170px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.technique__block:focus, .technique__block:hover {
  background-color: #f0f0f0;
  transform: translateY(-5px);
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  box-shadow: 0px -5px 10px 0px rgba(185, 184, 184, 0.5);
}
.technique__text {
  font-size: 16px;
  color: #1B1C21;
  margin-bottom: 8px;
  text-align: left;
  align-self: flex-start;
  font-family: "TT Lakes Regular";
}
.technique__img {
  align-self: flex-end;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
}
.technique__button .button_more {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
  color: rgb(27, 28, 33);
  background-color: rgb(248, 248, 248);
  border: none;
  margin-top: 24px;
  margin-left: 24px;
  gap: 8px;
  font-family: "TT Lakes Medium";
  padding-left: 30px;
  cursor: pointer;
  text-decoration: none;
  background: #f8f8f8 url("/public/favicon/brands/expand.svg") no-repeat 0 50%;
}
.technique__button .button_more:hover {
  filter: grayscale(100%) opacity(70%);
  transform: translateX(4px) scale(1.1);
}
.technique__button .button_more.up {
  background: #f8f8f8 url("/public/favicon/brands/expand2.svg") no-repeat 0 50%;
}
@media (min-width: 768px) {
  .technique .plan {
    display: none;
  }
}
@media (min-width: 1120px) {
  .technique .plan {
    display: flex;
  }
}
@media (min-width: 768px) {
  .technique .hidden {
    display: none;
  }
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 768px) {
  .techniques {
    display: none;
  }
}
.techniques__header {
  display: block;
  background: linear-gradient(270deg, #f8f8f8 0%, #FFFFFF 98.61%);
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px;
  border-top: 2px solid #d9fff5;
}
.techniques__title {
  display: flex;
  width: 338px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin: 20px;
  font-weight: 300;
  font-family: "TT Lakes Medium";
}
.techniques .swiper {
  width: 100%;
  height: auto;
  margin: 10px;
  padding-bottom: 45px;
  position: relative;
}
.techniques .swiper .swiper-wrapper {
  display: flex;
}
.techniques .swiper .swiper-slide {
  width: 200px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.techniques .swiper .swiper-slide:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.techniques .swiper .swiper-slide .techniques__text {
  font-size: 16px;
  color: #1B1C21;
  margin-bottom: 8px;
  text-align: left;
  align-self: flex-start;
  font-family: "TT Lakes Medium";
}
.techniques .swiper .swiper-slide .techniques__img {
  align-self: flex-end;
  background-color: #fff;
  border-radius: 50%;
  padding: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.techniques .swiper .swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 10px;
}
.techniques .swiper .swiper-pagination-bullet {
  background-color: #7E7E82;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 1;
  margin: 0 4px;
  transition: background-color 0.3s ease;
}
.techniques .swiper .swiper-pagination-bullet-active {
  background-color: #FF4081;
  width: 10px;
  height: 10px;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.price {
  padding: 20px;
}
@media (max-width: 767px) {
  .price {
    display: none;
  }
}
@media (min-width: 768px) {
  .price {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }
}
@media (min-width: 1120px) {
  .price {
    margin-left: 250px;
  }
}
.price__header {
  display: block;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px 0;
  border-top: 2px solid #d9fff5;
}
@media (min-width: 1120px) {
  .price__header {
    padding-left: 32px;
  }
}
.price__title {
  display: flex;
  width: 338px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin: 20px;
  font-weight: 300;
  font-family: "TT Lakes Medium";
}
.price__menu {
  width: 95%;
  flex-direction: column;
  gap: 0;
}
@media (min-width: 1120px) {
  .price__menu {
    margin-left: 32px;
    margin-right: 32px;
  }
}
.price__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  background-color: #fff;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 23px;
  font-family: "TT Lakes Regular";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}
@media (min-width: 1120px) {
  .price__block {
    padding-left: 24px;
  }
}
.price__block::after {
  content: "";
  position: absolute;
  width: 95%;
  height: 1px;
  top: 70px;
  background-color: #EAEAEA;
}
.price__block:nth-child(1) {
  background-color: #f7f8fa;
  color: #7E7E82;
  flex-grow: 0;
}
.price__block:nth-child(1)::after {
  display: none;
}
.price__block:last-child::after {
  display: none;
}
.price__text {
  font-family: "TT Lakes Regular";
  font-size: 14px;
}
.price__text:nth-child(1) {
  width: 40%;
}
.price__text:nth-child(2) {
  width: 15%;
}
.price__text:nth-child(3) {
  width: 15%;
  flex-grow: 1;
}
.price__text:nth-child(4) {
  width: 20%;
  text-align: right;
}
.price__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("/public/favicon/price/Rectangle.svg") no-repeat center;
  background-size: contain;
  width: 100px;
  height: 32px;
  border: none;
  color: #fff;
  font-family: "TT Lakes";
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.15px;
  border-radius: 16px;
  margin-right: 20px;
  padding-left: 12px;
}
@media (min-width: 1120px) {
  .price__button {
    margin-right: 24px;
  }
}
.price__button::after {
  content: "";
  position: absolute;
  right: 10px;
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-42deg);
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 768px) {
  .prices {
    display: none;
  }
}
.prices__header {
  display: block;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin: 10px;
  border-top: 2px solid #d9fff5;
}
.prices__title {
  display: flex;
  width: 338px;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
  margin: 20px;
  font-weight: 300;
  font-family: "TT Lakes Medium";
}
.prices .swiper {
  width: 100%;
  height: auto;
  margin: 10px;
  padding-bottom: 45px;
  position: relative;
}
.prices .swiper .swiper-wrapper {
  display: flex;
}
.prices .swiper .swiper-slide {
  display: flex;
  width: 260px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}
.prices .swiper .swiper-pagination {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  margin-top: 20px;
  bottom: 10px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
.prices .swiper .swiper-pagination-bullet {
  background-color: #7E7E82;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 1;
  margin: 0 4px;
  transition: background-color 0.3s ease;
}
.prices .swiper .swiper-pagination-bullet-active {
  background-color: #FF4081;
  width: 10px;
  height: 10px;
}
.prices__time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  position: relative;
  font-family: "TT Lakes Medium";
}
.prices__name {
  margin-bottom: 10px;
  flex-grow: 1;
  color: #7E7E82;
  font-family: "TT Lakes Medium";
}
.prices__text {
  font-size: 14px;
  color: #1B1C21;
  margin: 0;
  text-align: left;
  font-family: "TT Lakes Regular";
}
.prices__button {
  position: relative;
  align-items: center;
  justify-content: space-between;
  background: url("/public/favicon/price/Rectangle.svg") no-repeat center;
  background-size: contain;
  width: 100px;
  height: 32px;
  border: none;
  color: #fff;
  font-family: "TT Lakes Medium";
  font-size: 12px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: -0.15px;
  border-radius: 16px;
  position: absolute;
  right: 0;
  bottom: 10px;
  padding-right: 20px;
}
.prices__button::after {
  content: "";
  position: absolute;
  right: 10px;
  display: block;
  width: 6px;
  height: 6px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-42deg);
  top: 13px;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.rules {
  margin-top: 16px;
}
@media (min-width: 768px) {
  .rules {
    margin-top: 24px;
  }
}
@media (min-width: 1120px) {
  .rules {
    margin-top: 32px;
    margin-left: 280px;
  }
}
.rules__info {
  width: 288px;
  padding-left: 16px;
  font-family: "TT Lakes Regular";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1B1C21;
}
@media (min-width: 768px) {
  .rules__info {
    width: 421px;
    padding-left: 24px;
  }
}
@media (min-width: 1120px) {
  .rules__info {
    padding-left: 32px;
  }
}
.rules__button {
  margin-top: 16px;
  padding-left: 16px;
  font-family: "TT Lakes Medium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-color: #f8f8f8;
  border: none;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .rules__button {
    gap: 4px;
    flex-direction: row;
    padding-left: 24px;
  }
}
@media (min-width: 1120px) {
  .rules__button {
    padding-left: 32px;
  }
}
.rules__break {
  display: flex;
  align-items: center;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.footer {
  margin-top: 40px;
  padding-bottom: 19px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  flex-direction: column;
  text-align: center;
  border-top: 1px solid #d9fff5;
  color: #7E7E82;
  font-family: "TT Lakes Regular";
}
@media (min-width: 768px) {
  .footer {
    margin-right: 24px;
    margin-left: 24px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 47px;
    padding-bottom: 25px;
    padding-top: 22px;
    text-align: left;
  }
}
@media (min-width: 1120px) {
  .footer {
    margin-top: 50px;
    margin-right: 31px;
    margin-left: 350px;
    padding-bottom: 21px;
  }
}
.footer__block {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__block {
    align-items: flex-start;
  }
}
@media (min-width: 768px) {
  .footer__block:first-child {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .footer__block:nth-child(2) {
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}
@media (min-width: 768px) {
  .footer__block:last-child {
    align-items: flex-end;
    text-align: right;
    flex: 1;
    white-space: normal;
    word-wrap: break-word;
  }
}

.call {
  position: fixed;
  top: 20px;
  right: -5px;
  width: 100%;
  max-width: 400px;
  height: auto;
  display: none;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
}
.call__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.call__content {
  position: relative;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  background-color: #fff;
  z-index: 10;
  text-align: center;
}
@media (min-width: 768px) {
  .call__content {
    text-align: left;
  }
}
.call__close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
}
@media (min-width: 768px) {
  .call__close {
    position: absolute;
    top: 30px;
    left: -50px;
  }
}
.call__title {
  position: relative;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "TT Lakes";
}
.call__title:hover::before {
  border: 2px #1b1c21;
  content: url("/public/favicon/highlight.svg");
  position: absolute;
  left: -15px;
  top: -5px;
}
.call__input {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: "TT Lakes Regular";
}
.call__text {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  text-align: left;
  font-family: "TT Lakes Regular";
}
.call__text a {
  color: #FF4081;
  text-decoration: underline;
  font-family: "TT Lakes Regular";
}
.call__button {
  background-color: #FF4081;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin-left: auto;
  margin-top: 20px;
  position: relative;
  font-family: "TT Lakes Regular";
}
.call__button::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 15px;
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-43deg);
}
.call--active {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.feedback {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1000;
  box-shadow: -4px 0 15px rgba(0, 0, 0, 0.2);
}
.feedback__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 400px);
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.feedback__content {
  position: relative;
  padding: 20px;
  width: 90%;
  max-width: 350px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}
.feedback__close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
}
@media (max-width: 767px) {
  .feedback__close {
    position: absolute;
    top: -5px;
    left: 10px;
  }
}
@media (min-width: 768px) {
  .feedback__close {
    position: absolute;
    top: 25px;
    left: -60px;
  }
}
.feedback__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "TT Lakes";
}
.feedback__title:hover::before {
  border: 2px #1b1c21;
  content: url("/public/favicon/highlight.svg");
  position: absolute;
  left: 0;
}
.feedback__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: "TT Lakes Regular";
}
.feedback__input, .feedback .feedback__textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.feedback__textarea {
  height: 100px;
}
.feedback__input:focus, .feedback .feedback__textarea:focus {
  border-color: #FF4081;
  outline: none;
}
.feedback__text {
  font-size: 14px;
  color: #666;
  text-align: left;
}
.feedback a {
  color: #FF4081;
  text-decoration: none;
}
.feedback__button {
  background-color: #FF4081;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  margin-left: auto;
  margin-top: 20px;
  position: relative;
  font-family: "TT Lakes Regular";
}
.feedback__button::after {
  content: "";
  position: absolute;
  right: 12px;
  top: 15px;
  display: block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-43deg);
}
.feedback--active {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("/public/fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"), url("/public/fonts/TTLakes-Bold.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Bold.woff") format("woff"), url("/public/fonts/TTLakes-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("/public/fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakesMedium"), url("/public/fonts/TTLakes-Medium.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Medium.woff") format("woff"), url("/public/fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes Regular";
  src: url("/public/fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular ") local("TTLakesRegular"), url("/public/fonts/TTLakes-Regular.eot") format("embedded-opentype"), url("/public/fonts/TTLakes-Regular.woff") format("woff"), url("/public/fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=all.css.map */