@import "../scss/variables";

.price {
  padding: 20px;

  @media (max-width: 767px) {
      display: none;
  }
  
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
  }
  
  @media (min-width: 1120px) {
    margin-left: 250px;
  }
  
  &__header {
    display: block;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 0;
    border-top: 2px solid #d9fff5;
  
    @media (min-width: 1120px) {
      padding-left: 32px;
    }
  }

  &__title {
    display: flex;
    width: 338px;
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $titlegrey;
    margin: 20px;
    font-weight: 300;
    font-family: $medium;
  }
  
  &__menu {
    width: 95%; 
    flex-direction: column;
    gap: 0;

  @media (min-width: 1120px) {
      margin-left: 32px;
      margin-right: 32px;
    }
  }
  
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    background-color: $white;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 23px;
    font-family: $regular;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: $black;
  
    @media (min-width: 1120px) {
      padding-left: 24px;
    }
  
    &::after {
      content: "";
      position: absolute;
      width: 95%;
      height: 1px;
      top: 70px;
      background-color: #EAEAEA;
    }
  
    &:nth-child(1) {
      background-color: #f7f8fa; 
      color: $titlegrey;
      flex-grow: 0;
  
      &::after {
        display: none; 
      }
    }

    &:last-child {
      &::after {
        display: none; 
      }
    }
  }
  
  &__text {
    font-family:$regular ;
    font-size: 14px;

    &:nth-child(1) {
      width: 40%;
    }
  
    &:nth-child(2) {
      width: 15%;
    }
  
    &:nth-child(3) {
      width: 15%;
      flex-grow: 1;
    }
  
    &:nth-child(4) {
      width: 20%;
      text-align: right;
    }
  }
  
  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('/public/favicon/price/Rectangle.svg') no-repeat center; 
    background-size: contain;
    width: 100px; 
    height: 32px; 
    border: none;
    color: $white;
    font-family: $bold;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.15px;
    border-radius: 16px; 
    margin-right:20px ;
    padding-left: 12px;

    @media (min-width: 1120px) {
      margin-right: 24px;
    }

    &::after {
      content: '';
      position: absolute;
      right: 10px; 
      display: block;
      width: 8px;
      height: 8px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotate(-42deg); 
    }
  }
}
  